<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <h1>Detalles de libro</h1>
    <h2>Titulo: <%= book.title %>
    </h2>
    <h3>Autor: <% book.autor %>
    </h3>
    <p> ID: <%= book.id %>
    </p>
</body>

</html>