<!DOCTYPE html>
<html>
<head>
  <title>Librería</title>
</head>
<body>
  <h1>Bienvenido a la librería</h1>
  <ul>
    <% books.forEach((book) => { %>
      <li><%= book.title %> por <%= book.author %></li>
    <% }); %>
  </ul>
</body>
</html>
